<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="genioWebppApp.order.home.createOrEditLabel">Create or edit a Order</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.orderId" for="field_orderId">Order Id</label>
                    <input type="number" class="form-control" name="orderId" id="field_orderId"
                           formControlName="orderId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.orderCode" for="field_orderCode">Order Code</label>
                    <input type="number" class="form-control" name="orderCode" id="field_orderCode"
                           formControlName="orderCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.custId" for="field_custId">Cust Id</label>
                    <input type="number" class="form-control" name="custId" id="field_custId"
                           formControlName="custId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.productId" for="field_productId">Product Id</label>
                    <input type="number" class="form-control" name="productId" id="field_productId"
                           formControlName="productId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.activeFlag" for="field_activeFlag">Active Flag</label>
                    <input type="checkbox" class="form-control" name="activeFlag" id="field_activeFlag"
                           formControlName="activeFlag"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.createDate" for="field_createDate">Create Date</label>
                    <div class="input-group">
                        <input id="field_createDate" type="text" class="form-control" name="createDate" ngbDatepicker #createDateDp="ngbDatepicker" formControlName="createDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.createBy" for="field_createBy">Create By</label>
                    <input type="text" class="form-control" name="createBy" id="field_createBy"
                           formControlName="createBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.updateDate" for="field_updateDate">Update Date</label>
                    <div class="input-group">
                        <input id="field_updateDate" type="text" class="form-control" name="updateDate" ngbDatepicker #updateDateDp="ngbDatepicker" formControlName="updateDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updateDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="genioWebppApp.order.updateBy" for="field_updateBy">Update By</label>
                    <div class="input-group">
                        <input id="field_updateBy" type="text" class="form-control" name="updateBy" ngbDatepicker #updateByDp="ngbDatepicker" formControlName="updateBy"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updateByDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
