<div>
    <h2 id="page-heading">
        <span jhiTranslate="genioWebppApp.author.home.title">Authors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-author" [routerLink]="['/author/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="genioWebppApp.author.home.createLabel">
            Create a new Author
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="authors?.length === 0">
        <span jhiTranslate="genioWebppApp.author.home.notFound">No authors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="authors && authors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customerId"><span jhiTranslate="genioWebppApp.author.customerId">Customer Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customerName"><span jhiTranslate="genioWebppApp.author.customerName">Customer Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customerLastname"><span jhiTranslate="genioWebppApp.author.customerLastname">Customer Lastname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderId"><span jhiTranslate="genioWebppApp.author.orderId">Order Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span jhiTranslate="genioWebppApp.author.productId">Product Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="genioWebppApp.author.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let author of authors ;trackBy: trackId">
                    <td><a [routerLink]="['/author', author.id, 'view']">{{ author.id }}</a></td>
                    <td>{{ author.customerId }}</td>
                    <td>{{ author.customerName }}</td>
                    <td>{{ author.customerLastname }}</td>
                    <td>{{ author.orderId }}</td>
                    <td>{{ author.productId }}</td>
                    <td>{{ author.endDate | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/author', author.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/author', author.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(author)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="authors && authors.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
