<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="author">
            <h2><span jhiTranslate="genioWebppApp.author.detail.title">Author</span> {{ author.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="genioWebppApp.author.customerId">Customer Id</span></dt>
                <dd>
                    <span>{{ author.customerId }}</span>
                </dd>
                <dt><span jhiTranslate="genioWebppApp.author.customerName">Customer Name</span></dt>
                <dd>
                    <span>{{ author.customerName }}</span>
                </dd>
                <dt><span jhiTranslate="genioWebppApp.author.customerLastname">Customer Lastname</span></dt>
                <dd>
                    <span>{{ author.customerLastname }}</span>
                </dd>
                <dt><span jhiTranslate="genioWebppApp.author.orderId">Order Id</span></dt>
                <dd>
                    <span>{{ author.orderId }}</span>
                </dd>
                <dt><span jhiTranslate="genioWebppApp.author.productId">Product Id</span></dt>
                <dd>
                    <span>{{ author.productId }}</span>
                </dd>
                <dt><span jhiTranslate="genioWebppApp.author.endDate">End Date</span></dt>
                <dd>
                    <span>{{ author.endDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/author', author.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
